* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

main {
  width: 100vw;
  height: 100vh;
  padding-top: 5rem;
  background-color: rgb(203, 232, 205);
  display: flex;
  flex-direction: column;
  align-items: center;
}

main h1 {
  font-size: 5rem;
  margin-bottom: 2rem;
}

section form{
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  text-align: center;
  width: 30vw;
}

section form h2 {
  font-size: 2rem;
  color: rgb(112, 120, 112);
  margin-bottom: 2rem;
}

section form .input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

section form .input input, section form .input select {
  width: 50%;
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(231, 231, 231);
  margin-bottom: 1rem;
}

section form button {
  height: 3rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(231, 231, 231);
  color: white;
  background-color: rgb(33, 203, 33);
  margin-bottom: 3rem;
}

section form button:disabled {
  color: black;
  background-color: rgb(84, 126, 84);
 
}

.output {
 margin: auto;  
  width: 80%;
  
}


.output li {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  height: 3rem;
  border-radius: 0.5rem;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.output #checked {
  height: 2rem;
  width: 2rem;
  width: 8%;
}

.output span {
  width: 70%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;;
}

.output .completed{
  text-decoration: line-through;
}


li .low {
  background-color: rgb(118, 244, 149);
}

li .high {
  background-color: rgb(243, 85, 85);
}

li .delete{
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.5rem;
  border: 1px solid rgb(243, 85, 85);
  color: rgb(243, 85, 85);
  background-color: rgb(231, 231, 231);
  width: 20%;
}