@font-face {
    font-family: "Roboto_Var";
    src: url("../public/Roboto/Roboto-VariableFont_wdth\,wght.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

:root {
    --fs-12: 1.2rem;
    --fs-16: 1.6rem;
    --fs-24: 2.4rem;
    --fs-32: 3.2rem;
    --cl-darkgreen: #0d4625;
    --cl-midgreen: #219653;
    --cl-lightgrren: #6fcf97;
}

html {
    font-size: 10px;
    font-family: "Roboto_Var";
    color: var(--cl-darkgreen);
}

.button {
    color: var(--cl-midgreen);
    font-size: var(--fs-16);
    font-weight: 900;
    text-decoration: none;
    padding: 1.2rem 1.6rem;
    border: 3px solid var(--cl-lightgrren);
    border-radius: 1rem;
}

nav {
    padding: 3.2rem 9vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h5 {
    font-size: var(--fs-24);
    font-weight: 900;
}

nav a {
    color: var(--cl-darkgreen);
    font-size: var(--fs-16);
    font-weight: 900;
    margin-left: 5vw;
}

.home {
    max-height: 100vw;
    /* background-color: aqua; */
    position: relative;
    padding: 50vh 9vw 11rem 9vw;
}

.home::before {
    content: "";
    background-image: url("../src/assets/img/Start_Bild.jpg");
    min-height: 50vh;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    position: absolute;
    top: -10rem;
    right: 0;
    left: 0;
    z-index: -1;
}

.home h1 {
    font-size: var(--fs-32);
    font-weight: 900;
    max-width: 30rem;
    margin-bottom: 2.4rem;
}

.home article {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}

.blog {
    padding: 6.8rem 15vw 10rem 15vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));

    grid-gap: 7rem;
}

.blog img {
  height: 20rem;
  object-fit: cover;
  width: 100%;
  border-radius: 1rem;
  margin-bottom: 2.5rem;
}

.blog h4 {
  font-size: var(--fs-16);
    font-weight: 900;
    margin-bottom: 3rem;
}

.details {
  padding: 6.8rem 0 10rem 15vw;
}

.details article img {
  border-radius: 1rem 0rem 0rem 1rem;
  object-fit: cover;
  height: 60rem;
  width: 100%;
}

.details article .infos {
  padding: 4.8rem 15vw 0 16rem;
}

.details article .infos-upper{
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 4.8rem;

}

.details article h2{
  font-size: var(--fs-24);
  font-weight: 900;
}

.details article h3{
  font-size: var(--fs-16);
  font-weight: 900;
}

.details article p:nth-of-type(1){
  font-size: var(--fs-16);
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.details article p:nth-of-type(2){
  font-size: var(--fs-12);
  font-weight: 900;
}