header {
    background-image: url("../../assets/Top.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    height: 110rem;
    margin-bottom: 4rem;
}

header nav {
    padding: 5rem 20rem 0 20rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10rem;
}

header nav img {
    height: 5rem;
}

header nav a {
    margin-right: 8rem;
}

header section {
    padding: 0rem 20rem;
}

header section h1{
    max-width: 80rem;
    margin-bottom: 5rem;
}