main {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 2rem 5rem;
    
}

.single-item {
    margin-bottom: 10rem;
}

.single-item img {
    border-image-repeat: none;
    object-fit:contain;
    height: 40rem;
    margin-bottom: 1rem;
}

.single-item h4 {
    max-width: 30rem;
    margin-bottom: 1.5rem;
}