* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main {
  background-color: rgb(227, 227, 227);
  height: 100vh;
}

.App {
  text-align: center;
  padding: 20px;
}

.home {
  padding: 0 4vw;
}

nav {
  
  margin-bottom: 20px;
}

nav ul {
  list-style: none;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.bg-color{
  background-color: rgb(147, 171, 225);
  border-radius: 1rem;
}