main {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
}

main div {
    text-align: center;
}

main img{
    object-fit: cover;
    height: 30rem;
    margin-bottom: 1rem;
}

main h5, main p{
    margin-bottom: 1rem;
}
