img {
  max-width: 100%;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
  background-color: aquamarine;
  padding: 010rem 2rem 2rem 2rem;
  min-height: 100vh;
}

h5 {
  font-size: 1.8rem;
}

p {
  font-size: 1.2rem;
}

button {
  color: white;
  background-color: tomato;
  border: none;
  border-radius: 2rem;
  padding: 1rem 5rem;
  cursor: pointer;
}